---
---

@import "{{ site.theme }}";

.navbar ul li  {
  list-style-image: none;
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.contact {
  text-align: center;
}

.header {
  text-align: center;
}
