---
layout: default
---
<div class='header'>
  {% if page.thumbnail %}
    <img class='thumbnail' alt={{page.alt_text}} src={{page.thumbnail_src}}></img>
  {% endif %}
  <h2>{{ page.title }}</h2>
  {% if page.description %}
    <p class='description'>{{ page.description }}</p>
  {% endif %}
  <p>{{ page.date | date: '%B %d, %Y' }}<p>
</div>
<hr/>

<div>
  {% if page.github_name %}
    <h4>Code on Github</h4>
    <a href="{{ site.data.social-media['github'].href }}{{ site.data.social-media['github'].id }}/{{page.github_name}}" title="{{ site.data.social-media['github'].title }}"><i class="fa {{ site.data.social-media['github'].fa-icon }}"></i></a>
  {% endif %}
  {{content}}
  {% include  share.html %}
</div>